<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd:LL:YYYY hh:mm:ss: a} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/myapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.RollingFileAppender">
                <fileNamePattern>logs/myapp-%d{YYYY-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{dd:LL:YYYY hh:mm:ss: a} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.cbnits" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>